@font-face {
  font-family: DalekPinpoint;
  src: url(./DalekPinpointBold.ttf);
}

.container {
  color: white;
  font-family: DalekPinpoint;
  position: relative;
  text-align: center;
  font-size: 35px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
  background-color: black;
}
