@font-face {
  font-family: DalekPinpoint;
  src: url(./DalekPinpointBold.ttf);
}

.container {
  color: white;
  font-family: DalekPinpoint;
  position: relative;
  text-align: center;
  font-size: 35px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
  background-color: #ac7339;
}

th, td {
    padding: 15px;
}

#tableofcont {
  font-family: DalekPinpoint;
  color: white;
  font-size: 20px;
  text-align: center;
  width:70%;
  margin-left:35%;
  margin-right:35%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: underline;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.card {
     font-family: "Noto Sans";
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     width: 50%;
     position: absolute;
     left: 24%;
     bottom: 13%;
}


.papertitle {
  text-align: center;
  bottom: 200px;
}
